.main__section-1 {
  padding: 10rem 0;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  background-image: url(../images/illustration-editor-desktop.svg);
  background-position: 60vw 0;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  &.section-3 {
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-position: -20vw;
    padding: 0 0;
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  @media screen and (max-width: 850px) {
    background-image: none !important;
  }
  h2 {
    text-align: center;
    font-size: 4rem;
    font-family: "Overpass", sans-serif;
    color: $Very-dark-blue;
  }
  .content-left {
    width: 50%;
    margin-top: 7.5rem;
    @media screen and (max-width: 850px) {
      width: 100%;
      text-align: center;
    }
    img {
      display: none;
      @media screen and (max-width: 850px) {
        display: inline;
        width: 100%;
      }
    }
    .first,
    .second {
      h3 {
        font-size: 3rem;
        font-family: "Overpass";
        font-weight: bold;
        color: $Very-dark-blue;
      }
      p {
        margin: 2rem 0 6rem 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: "Ubuntu", sans-serif;
        color: $Very-dark-grayish-blue;
      }
    }
  }
}
.main__sectiontwo {
  display: flex;
  justify-content: center;
  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(to right, $Very-dark-gray-blue, $Very-dark-desaturated-blue);
  background-repeat: no-repeat;
  margin: 10rem 0;
  border-radius: 0 10rem 0 10rem;
  @media screen and (max-width: 850px) {
    background-size: contain;
  }
  img {
    position: absolute;
    left: 0;
    width: 40vw;
    align-self: center;
    @media screen and (max-width: 850px) {
      left: 50%;
      top: 0;
      width: 50%;
      transform: translate(-50%, -50%);
    }
    @media screen and (max-width: 650px) {
      width: 80%;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 2rem;
    align-items: center;
    @media screen and (max-width: 850px) {
      flex-direction: column;
      text-align: center;
    }
    .content-right {
      width: 50%;
      padding: 10rem 0;
      @media screen and (max-width: 850px) {
        width: 100%;
        margin-top: 10rem;
      }
      color: white;
      h2 {
        font-size: 4rem;
        font-family: "Overpass";
      }
      p {
        margin-top: 3rem;
        font-size: 1.6rem;
        font-family: "Overpass";
        color: $Grayish-blue;
        line-height: 3rem;
      }
    }
  }
}
